<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome, <%= user.name %></p>
<p class="lead mb-3">Happy Sundae!</p>
<ul>
    <% messages.forEach(function(message){ %>
      <li>
          You said <br><%= message.text %>
          at        <%= message.timeStamp %>
      </li>
    <% })%>
</ul>
<a href="/api/v1/logout" class="btn btn-secondary">Logout</a>
