<h1 class="mt-4 text-center">Dashboard</h1>
<h2 class="lead mb-3">Welcome, <%= user.name %></h2>
<h2 class="lead mb-3">Happy Sundae!</h2>
<ul>
    <% messages.forEach(function(message){ %>
      <li class="list-group-item list-group-item-primary">
          You said <%= message.text %>
          At        <%= message.timeStamp %>
      </li>
    <% })%>
</ul>
<a href="/api/v1/logout" class="btn btn-secondary">Logout</a>
