<h1 class="mt-4 text-center">Dashboard</h1>
<h2 class="lead mb-3 text-center">Welcome, <%= user.name %></h2>
<h2 class="lead mb-3 text-center">Happy Sundae!</h2>
<div style='text-align:center;'>
<a  class="btn btn-secondary" href="/api/v1/data/<%= user.phone %>">stats</a>
</div>
<ul>
    <% messages.forEach(function(message){ %>
      <li class="list-group-item list-group-item-primary">
          You said <%= message.text %>
          At        <%= message.timeStamp %>
      </li>
    <% })%>
</ul>
<div style='text-align:center;'>
<a href="/api/v1/logout" class="btn btn-secondary">Logout</a>
</div>