<div  class="row mt-5">
  <div   class="col-md-6 m-auto">
    <div  class="card card-body text-center">
      <img src="../../static/logo.png">
      <p>Create an account or login</p>
      <a href="/api/v1/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/api/v1/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
